.passion-projects {
    position: relative;
    text-align: left;
    padding: 2rem;
    border-radius: 8px;
}

.project-info {
    margin-bottom: 2rem;
}

.image-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.project-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.arrow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: inherit;
}

.left-arrow {
    left: -40px;
}

.right-arrow {
    right: -40px;
}

.image-arrow {
    background: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-arrow.left {
    margin-right: 1rem;
}

.image-arrow.right {
    margin-left: 1rem;
}

.image-gallery .project-image:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

@media (max-width: 768px) {
    .arrow-button {
        font-size: 1.5rem;
    }

    .project-image {
        width: 200px;
        height: 150px;
    }
}
